.feature-card {
    border: 5px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    box-sizing: border-box;
}

.feature-card h2 {
    margin-top: 0;
}