body {
    .container.login-container {
        background-color: #2C3E50;
        border: 0.5rem solid #000;

        .logo {
            align-self: center;
        }

        .toggle-container {
            display: flex;
            text-align: center;
            cursor: pointer;

            .toggle-tab {
                flex: 1;
                font-size: 1.4rem;
                padding: 1rem;
                border-radius: 0.8rem 0.8rem 0 0;
                color: #fff;
            }
            
            .toggle-tab.active-tab {
                background-color: #fff;
                color: #03A9F4;
            }
        }

        .form-container {
            display: none;
            background-color: #fff;
            padding: 1.6rem
        }
        
        .form-container.active-form {
            display: block;
        }
        
        .form-container-login.active-form {
            border-radius: 0 0.8rem 0.8rem 0.8rem;
        }
        
        .form-container-signup.active-form {
            border-radius: 0.8rem 0 0.8rem 0.8rem;
        }
    }
}
