body {
    font-family: Arial, sans-serif;
}

.profile-container {
    max-width: 60%;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container > input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
}

.button-update {
    background-color: #42a5f5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    width: fit-content;
}

.button-update:hover {
    background-color: #007bff;
}

.button-update[disabled] {
    background-color: grey;
    pointer-events: none;
}